body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #004A82;
  color: white;
  font-size: 30px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 50%;
  text-align: center;
}

.postcard{
  font-size: 18px;
}

#nameInput{
  border: 3px solid black;
}

#titleInput{
  width: 75%;
  border: 3px solid black;
}

#contentInput{
  height: 300px;
  width: 100%;
  border: 3px solid black;
}

#submitInput{
  border-radius: 8px;
  border: 3px solid black;
  font-size: 30px;
}
